:root {
    --orange: #FF6D00;
    --orange-light: #FF9E40;
    --orange-dark: #E65100;
    --gray-dark: #333333;
    --gray: #666666;
    --gray-light: #F5F5F5;
    --border: #E0E0E0;
    --btn-radius: 10px;
    --btn-weight: 600;

    --transition-time: 0.3s;
}